
    
<%- include('../partials/Customer/header.ejs') %>
    <div class="container">
        
        <div class="content-wrapper">
    
            <!-- Main content -->
            <section class="content">
                <!-- <div class="container-fluid">
                    <h3 class="text-center ">Search</h3>
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <form asp-controller="Customer" asp-action="cust_viewroom">
                                <div class="input-group">
                                    <input type="search" name="SearchString" class="form-control form-control-lg" placeholder="Search your room Here">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-lg btn-default">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div> -->
            </section>
            
        </div>
            <!-- @*@if (ViewBag.emptyerr != null)
            {
                <p class="alert alert-danger" style="width:280px;">@ViewBag.emptyerr</p>
            }*@ -->
            <div class="row">
                    <% var i = 1 %>
                    <% data.forEach((item)=>{ %>
                    <!-- <div class="col-sm-4 product-card">
                        <div class="badge">POPULAR</div>
                        <div class="product-tumb">
                            <img src="/uploads/carousel-1.jpg"  alt="pic">
                        </div>
                        <div class="product-details">
                            <div>
                                <div class="product-catagory">
                                    <h4><a href="">d<%= item.no_of_room %> </a></h4>
                                </div>
                            </div>
                            <div>
                                <div class="product-catagory">
                                    <h4><a href="">Room type</a></h4>
                                </div>
                            </div>
                            <div class="product-bottom-details">
                                <a href="" class="btn btn-outline-primary btn-block">Check <i class="fas fa-eye"></i></a>
                                
                            </div>
                        </div>
                    </div> -->


                    <div class="col-sm-4 mt-4 uk-card uk-card-default uk-card-medium">
                        <div class="uk-card-media-top uk-position-relative">
                            <img src="/uploads/<%= item.room_photo %>" height="200px" width="350px"  alt="roomimg">
                            <div class="impx-overlay light overlay-squared padding-xwide"></div>
                        </div>
                        <div class="uk-card-body impx-padding-medium">
                            <h4 class="mt-4 uk-card-title uk-margin-remove-bottom" style="text-align: center;"><%= item.room_type %></h4>
                            <div>
                                <div class="product-catagory">
                                    <h4 style="text-align: center;"><a href="" ><%= item.room_price %> / Night </a></h4>
                                </div>
                            </div>
                            <p> <%= item.room_desc %></p>
                            
                            <div class="product-bottom-details">
                                <a href="BookRoom/<%= item.room_type %>" class="btn btn-outline-primary btn-block">Book Now <i class="fas fa-eye"></i> </a>
                            </div>
                        </div>
                    </div>
                    <% }) %>
            </div>
                
        </div>
        <%- include('../partials/Customer/footer.ejs') %>